<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head', {title: "Preguntas Frecuentes", style: "/css/styles-pages.css"}) %>
<body>
    
    <!-- Inclución de Header -->
    <%- include ('./partials/header') %>    
           
    <main class="register">
        <section class="conteiner-page">
            <h3>Preguntas frecuentes</h3>
            <h2>¿Cómo abrir mi Hibox?</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos corporis ratione provident ab, dicta necessitatibus enim nemo, laborum vel accusantium voluptates. Consectetur, ex ipsa. Veritatis quos nulla molestias molestiae sint? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos corporis ratione provident ab, dicta necessitatibus enim nemo, laborum vel accusantium voluptates. Consectetur, ex ipsa. Veritatis quos nulla molestias molestiae sint?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos corporis ratione provident ab, dicta necessitatibus enim nemo, laborum vel accusantium voluptates. Consectetur, ex ipsa. Veritatis quos nulla molestias molestiae sint?</p>
            <h2>¿Qué incluye mi regalo Hibox?</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos corporis ratione provident ab, dicta necessitatibus enim nemo, laborum vel accusantium voluptates. Consectetur, ex ipsa. Veritatis quos nulla molestias molestiae sint? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos corporis ratione provident ab, dicta necessitatibus enim nemo, laborum vel accusantium voluptates. Consectetur, ex ipsa. Veritatis quos nulla molestias molestiae sint?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos corporis ratione provident ab, dicta necessitatibus enim nemo, laborum vel accusantium voluptates. Consectetur, ex ipsa. Veritatis quos nulla molestias molestiae sint?</p>
            <h2>¿Cómo se reserva la experiencia?</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos corporis ratione provident ab, dicta necessitatibus enim nemo, laborum vel accusantium voluptates. Consectetur, ex ipsa. Veritatis quos nulla molestias molestiae sint? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos corporis ratione provident ab, dicta necessitatibus enim nemo, laborum vel accusantium voluptates. Consectetur, ex ipsa. Veritatis quos nulla molestias molestiae sint?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos corporis ratione provident ab, dicta necessitatibus enim nemo, laborum vel accusantium voluptates. Consectetur, ex ipsa. Veritatis quos nulla molestias molestiae sint?</p>
            <h2>¿Qué es una Escapada?</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos corporis ratione provident ab, dicta necessitatibus enim nemo, laborum vel accusantium voluptates. Consectetur, ex ipsa. Veritatis quos nulla molestias molestiae sint? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos corporis ratione provident ab, dicta necessitatibus enim nemo, laborum vel accusantium voluptates. Consectetur, ex ipsa. Veritatis quos nulla molestias molestiae sint?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos corporis ratione provident ab, dicta necessitatibus enim nemo, laborum vel accusantium voluptates. Consectetur, ex ipsa. Veritatis quos nulla molestias molestiae sint?</p>
        
        </section>
    </main>

    <!-- Inclución de Header -->
    <%- include ('./partials/footer') %>   

</body>
</html>