<!DOCTYPE html>
<html lang="en">
    <!--<%- include ('./partials/head', {title: "Not Found", style: "/css/styles-home.css"}) %>-->
    <%- include ('./partials/head', {title: "Not Found"}) %>
<body>
        <!-- Inclución de Header -->
        <%- include ('./partials/header') %>
        
        <main class="error">
            <h1>ERROR 404 :(</h1>
            <p>Sabemos que estás búscando tu próxima experiencia,<br> pero no la vas a encontrar ahí.</p>
        </main>
   
    <!-- Inclución de Footer -->
    <%- include ('./partials/footer') %>  
</body>
</html>