<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head', {title: "Sobre Nosotros", style: "/css/styles-pages.css"}) %>
<body>
    
    <!-- Inclución de Header -->
    <%- include ('./partials/header') %>    
           
    <main class="register">
        <section class="conteiner-page">
            <h3>Sobre Nosotros</h3>
            <p>HiBox es una forma diferente de regalar experiencias. Contamos con 3 categorías temáticas: Gastronomía, Entretenimiento y Aventura. Cada HiBox incluye una opcion de experiencias. La persona elige la que más le gusta y reserva directamente con el lugar.</p>
            <p>En HiBox regalamos diferentes experiencias porque ver felices a los nuestros nos hace muy felices. Así de simple. Porque siempre buscamos esa sonrisa, esa emoción, ese abrazo que lo dice todo. No importa el motivo, no importa la ocasión, solo importa hacer feliz a las personas que te importan.</p>
            <p>¿Y por qué experiencias? Porque los momentos de felicidad son los que recordaremos por siempre.</p>
            <h2>HiBox "Buy Your Experiencie"</h2>
            <div class="youtube">
                
<iframe width="100%" height="506" src="https://www.youtube.com/embed/UiHHqO4cBgo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            </div>
        </section>
    </main>

    <!-- Inclución de Header -->
    <%- include ('./partials/footer') %>   

</body>
</html>