<!DOCTYPE html>
<html lang="en">
    <!--<%- include ('./partials/head', {title: "Not Found", style: "/css/styles-home.css"}) %>-->
    <%- include ('./partials/head', {title: "Not Found"}) %>
<body>
        <!-- Inclución de Header -->
        <%- include ('./partials/header') %>
        
        <main class="error">
            <div>
                <img src="/images/error.png", alt="Error 404">
                <h1>ACÁ NO ESTA :(</h1>
                <p>Sabemos que estás búscando tu próxima experiencia, te invitamos a encontrarla.</p>
                <div class="btn-error">
                    <a href="/products"><p>Comencemos</p></a>
                </div>
        
            </div>
            
            
        </main>
   
    <!-- Inclución de Footer -->
    <%- include ('./partials/footer') %>  
</body>
</html>