<footer>
    <section>
        <div class="logo-footer">
            <img src="/images/logo-HiBox.png", alt="Logo HiBox">
        </div>
    </section>
    
    <section>
        <div class="accesos-principales-footer">
        <p><a href="/">Inicio</a></p>
        <p><a href="/about">Sobre Nosotros</a></p>
        <p><a href="/faqs">FAQs</a></p>
        <p><a href="/contact-us">Contacto</a></p>
    </div>
    </section>
    <section>
        <nav class="footer-navbar">
            <p><a href="/products">Productos</a></p>    
            <ul>
                <li><a href="/products/aventura">Aventura</a></li>
                <li><a href="/products/entretenimiento">Entretenimiento</a></li>
                <li><a href="/products/gastronomia">Gastronomía</a></li>
            </ul>
        </nav>
    </section>
    <section>
        <nav class="footer-navbar">
            <p><a href="#">Encontranos</a></p>    
            <ul>
                <li><a href="https://wa.me/+5491134812957" target="_blank"><i class="fas fa-mobile-alt"></i> +54 11 3481 2957</a></li>
                <li><a href=""><i class="fas fa-map-marker-alt"></i> Claudia Rey 1212</a></li>
                <li><a href="mailto:info@HiBox.com?subject=Consultas%20Website&body=Deseo%20información%20sobre%20las%20experiencias"><i class="far fa-envelope"></i> info@HiBox.com</a></li>
            </ul>
        </nav>
    </section>
    <section>   
        <nav class="footer-redes">
            <p><a href="#">Seguinos</a></p>    
            <ul>
                <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a></li>
                <li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>    
            </ul>
        </nav>  
    </section>  
</footer>
<section class="copy">
    <p>Copyright © 2022 HiBox S.R.L.</p>
</section>