.conteiner-titulo {
    margin: 50px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

h3 a {
    text-decoration: none;
    color: #666;
    transition: all 450ms;
}

h3 a:hover {
    color: #F95F62;
}
.items-select{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.productCategory,
.productSubCategory {
        padding: 8px;
        margin: 20px 3px;
        border-radius: 30px;
        color: #666;
        border: solid 1px #666;
}

.go {
    background-color: #1c1b20;
    border: solid 1px #1c1b20;
    border-radius: 30px;
    padding: 8px;
    color: #FFF;
    margin-left: 5px;
    width: 80px;
    transition: background-color 350ms;
}

.go:hover {
    background-color: #F95F62;
    border: solid 1px #F95F62;
}
