.conteiner-shop {
    background-color: white;
    max-width: 650px;
    margin: auto;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 16px 0px rgb(0 0 0 / 10%);
}

.enviar {
    margin: 3px;
}
.conteiner-shop h3 {
        text-align: center;
        color: #222;
        font-size: 2em;
        margin: 15px auto;
    }
    .cantidad-input p{
        margin-bottom: 10px;
}
    .cantidad-input input{
        margin-top: -10px;
        width: 56px;
        padding: 8px;
        border-radius: 30px;
        color: #666;
        border: solid 1px #666;
}

.comprar button{
    border-radius: 30px;
    width: 100%;
    padding: 10px 20px;
    color: white;
    text-align: center;
    background-color: #7d92a5;
    border: none !important;
    transition: all 450ms;
}

.comprar button:hover {
    background-color: #F95F62;
}

.conteiner-productos-shop {
        position: relative;
        background-color: white;
        text-align: center;
        padding: 10px;
        margin-left: 18px;
        margin-bottom: 15px;
        border: solid 1px rgb(207, 207, 207);
        box-shadow: none;
        }

.contenedor-detalle-shop{
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.conteiner-valores {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    align-items: center;
}

.delete {
    border: none !important;
    background-color: none !important;
    color: gray;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 450ms;
}
.delete:hover {
    color: #F95F62;
}
.icono-trash-producto {
    position: absolute;
    padding: 5px;
    width: 40px;
    right: -1%;
    top: 3%;
}

.product-img-shop {
            width: 100%;
        }
.nombre-producto-shop {
            text-align: left;
            margin-top: 10px;
            color: #9c8c84;
            font-size: 18px;
        }
        .precio-shop{
            margin-top: 16px;
            margin-left: 37px;
            font-size: 30px;
            flex-grow: 8;
            text-align: right;
            color: #F95F62;
        }
        .discount-shop{
            margin-top: 18px;
            font-weight: 100;
            margin-left: 10px;
            font-size: 22px;
            flex-grow: 8;
            text-align: left;
            text-decoration: line-through;
            color: #b6b1af;
        }

        .acceso-detalle-shop {
            margin-top: 15px;
            text-align: center;
            text-decoration: underline;
            color: #7d92a5;
            font-size: 1em;
            text-decoration: underline;
        }
        .acceso-detalle-shop a{
            text-decoration: none;
            color: #7d92a5;
        }
        .acceso-detalle-shop a:hover {
            color: #F95F62;
        }
        .conteiner-totals-shop {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%; 
            align-items: center;
            padding: 10px;
            margin: 30px 0;
        }
        .comprar p a{
            text-decoration: none;
            color: white;
        }
        .comprar p {
            text-align: center;
            background-color: #7d92a5;
            width: 130px;
            padding: 10px;
            border-radius: 30px;
            transition: all 450ms;
        }
        
        .comprar:hover p {
            background-color: #F95F62;      
        }
        .label-total {
            color: #666;
            font-size: 16px;
            /* margin-left: 30px; */
            /* margin-right: 70px; */
        }
        .total{
            font-size: 30px;
            color: #F95F62;
            /* margin-right: 51px; */
        }

        @media (min-width: 480px){

            .conteiner-productos-shop {
                display: flex;
                position: relative;
                }
            .product-img-shop {
                    width: 40%;
                }
                .acceso-detalle-shop {
                    text-align: left;
                }
                .conteiner-totals-shop {
                    justify-content: end;
                }
                .label-total {
                    margin-right: 55px;
                }
                .total{
                    margin-right: 51px;
                }
                .comprar p {
                    width: 200px;

                }
        
        }