<footer>
    <section>
        <div class="logo-footer">
            <img src="/images/logo-HiBox.png", alt="Logo HiBox">
        </div>
    </section>
    
    <section>
        <div class="accesos-principales-footer">
        <p><a href="/">Home</a></p>
        <p><a href="#">About</a></p>
        <p><a href="#">FAQs</a></p>
        <p><a href="#">Contact us</a></p>
    </div>
    </section>
    <section>
        <nav class="footer-navbar">
            <p><a href="/products/productDetail">Products</a></p>    
            <ul>
                <li><a href="#">Aventura</a></li>
                <li><a href="#">Entretenimiento</a></li>
                <li><a href="#">Gastronomía</a></li>
            </ul>
        </nav>
    </section>
    <section>
        <nav class="footer-navbar">
            <p><a href="#">Encontranos</a></p>    
            <ul>
                <li><a href="#"><i class="fas fa-mobile-alt"></i> +54 11 2541 2658</a></li>
                <li><a href="#"><i class="fas fa-map-marker-alt"></i> Claudia Rey 1212</a></li>
                <li><a href="#"><i class="far fa-envelope"></i> info@HiBox.com</a></li>
            </ul>
        </nav>
    </section>
    <section>   
        <nav class="footer-redes">
            <p><a href="#">Suscribite</a></p>
            <form class="suscripcion" action="" method="post">
                <input type="email" name="email" id="email" placeholder="Ingresá tu email">
            </form>    
            <ul>
                <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a></li>
                <li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>    
            </ul>
        </nav>  
    </section>  
</footer>
<section class="copy">
    <p>Copyright © 2022 HiBox S.R.L.</p>
</section>