<header class="main-header">
    <section class="section-oferta">
        <p>ENVÍOS SIN CARGO A PARTIR DE $9000 + HASTA 6 CUOTAS SIN INTERÉS</p>
    </section>
    
    <div class="nav-bar-header">
        <div class="nav-header-mobile-left">
            <a href="#" class="hamburguer-button">
                <i class="fas fa-bars"></i>
              </a>
        </div> 
        
      <div class="nav-bar-header-left">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
        </div>

    <div class="nav-bar-header-center">
        <div class="logo">
            <a href="/"><img src="/images/logo-nav.png", alt="Logo HiBox"></a>
        </div>  
    </div>
    
    <div class="nav-bar-header-right">
        <ul>
            <li><a href="/admin/adminProduct">Administrar</i></a></li>
            <!--<li><a href="/admin/productCreate">Crear producto</i></a></li>
            <li><a href="/products/productEdit">Editar producto</i></a></li>-->
            <li><a href="/users/register">Registrate</i></a></li>
            <li><a href="/users/login">Login</a></li>
            <li><a href="/products/productCart"><i class="fas fa-shopping-cart"></i></a></li>
        </ul>
    </div>
    <div class="nav-header-mobile-right">
        <a href="/products/productCart" class="cart-icon">
            <i class="fas fa-shopping-cart"></i>
          </a>
    </div> 
    </div>
</header>